body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

h1,
ul,
li,
p,
h2,
nav {
  margin: 0;
  padding: 0;
}
