.seen-container {
  max-width: 1200px;
  margin: 0 auto;
}

.seen-container h2 {
  text-align: center;
}

.seen-companies {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.seen-companies img {
  height: 56px;
}

.footer {
  margin-top: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  background: #2b2c43;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 60px;
  position: absolute;
  top: -30px;
}

.footer p {
  opacity: 0.5;
  color: #ffffff;
  margin-top: 40px;
}
